# Get-standard-cost

Import needed modules

In [1]:
import pandas as pd
import numpy as np
from pandas import ExcelWriter

Open the file

In [2]:
csv_file = 'MMS003.csv'
df = pd.read_csv(csv_file, sep=';', encoding='utf8',usecols = ['Item no', 'Prod cost'],
                 dtype ={'Item no': object, 'Prod cost': np.float32}, skip_blank_lines = True,
                 decimal=',')

Drop all the prices and only keep the last ones

In [3]:
df1 = df.drop_duplicates(subset = 'Item no', keep = 'last')
df1.head()

      Item no    Prod cost
4   7ACEL1432    41.366001
8   7ACEL1445    11.180000
12  7ACTLO391    14.534000
16  7ACVF0481    61.243999
20  7HL023002  2061.592041

Export to Excel

In [4]:
name = 'MMS003_prices.xlsx'
writer = pd.ExcelWriter(name)
df1.to_excel(writer, index = False)
writer.save()